.slides-container { 
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 120svw;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}



/* Hide scrollbar */
::-webkit-scrollbar,
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
