/* Cover.css */
.cover {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 1;
  }
  
  .scroll-container {
    position: absolute;
    bottom: 50vh;
    left: 35vw;
    transform: translateY(50%) translateX(-50%);
    z-index: 5;
    background: radial-gradient(rgb(255, 255, 255, 0.4), rgb(255, 255, 255, 0.4), rgb(255, 255, 255, 1));
    padding: 2vh;
    border-radius: 1vh;
  }
  
  .scroll-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  