.App {
  display: flex;
  width: 100svw;
  height: 100svh;
  flex-direction: column;
  justify-content: center;
}

.clickable:hover {
  cursor: pointer;
  filter: drop-shadow(0.2svh 0.2svh 0.2svh rgba(255, 255, 255, 0.9));
  transition: 0.1s ease;
}

.top-bar {
  width: 100svw;
  height: 5svh;
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(20, 20, 20);
  padding: 1.5svh;
  font-size: 1.8svh;
}

.slides {
  height: 85svh;
  width: 100svw;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-bar {
  height: 10svh;
  max-height: 10svh;
  width: 100svw;
  background-color: rgb(20, 20, 20);
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  gap: 2svw;
  padding: 1.7svh;
  padding-left: 20%;
  padding-right: 20%;
  box-shadow: inset 1svh 0.5svh 4svh rgba(0, 0, 0, 0.8);
  justify-content: center;
}

.logo {
  height: 100%;
}

.vertical-line {
  width: 0.5px;
  border-right: 0.5px solid white;
}

.donation-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50%;
  text-align: center;
  border-radius: 5%;
  border: 1px solid transparent;
}

.donation-box img {
  max-height: 80%;
  object-fit: contain;
}

.donation-box:hover {
  border: 1px solid white;
  transition: border-color 0.3s ease;
}

.return-text {
  grid-column: 1 / -1;
  font-weight: 700;
  font-size: 1.5svh;
  margin: 0;
  color: white;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  justify-content: right;
  border-radius: 5%;
  text-decoration: underline;
  text-underline-offset: 0.7svh;
}

.return-text:hover {
  background-color: white;
  transition: background-color 0.2s ease;
}