/* index.css */
#root {
    background-color: black;
  }
  
  a {
    color: white;
    font-family: "nocturne-serif", serif;
    font-weight: 700;
  }

  h1 {
    font-family: "nocturne-serif", serif;
    font-weight: 600;
    font-size: 5svh;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.3), transparent);
    text-align: center;
    padding: 2svh;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overscroll-behavior-x: contain;
    font-family: "nocturne-serif", serif;
    font-weight: 400;
    color: white;
  }

  div {
    box-sizing: border-box;
  }
  